/*--------------------------------------------------Fonts--------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Aldrich&family=Andada&family=Anton&family=Concert+One&family=Crete+Round&family=Marmelad&family=Nunito:wght@300&family=Oregano&family=Podkova&family=Pridi:wght@300&family=Roboto:wght@300&family=Rye&family=Sen&family=Sevillana&family=Share+Tech&family=Sonsie+One&family=Stalinist+One&family=Strait&family=Vampiro+One&family=Wellfleet&family=Yeseva+One&display=swap");

/* 
font-family: 'Aclonica', sans-serif;
font-family: 'Aldrich', sans-serif;
font-family: 'Andada', serif;
font-family: 'Anton', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Crete Round', serif;
font-family: 'Marmelad', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oregano', cursive;
font-family: 'Podkova', serif;
font-family: 'Pridi', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rye', cursive;
font-family: 'Sen', sans-serif;
font-family: 'Sevillana', cursive;
font-family: 'Share Tech', sans-serif;
font-family: 'Sonsie One', cursive;
font-family: 'Stalinist One', cursive;
font-family: 'Strait', sans-serif;
font-family: 'Vampiro One', cursive;
font-family: 'Wellfleet', cursive;
font-family: 'Yeseva One', cursive; 
*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 3180px;
  background-image: url("../assets/background.png");
}

/*--------------------------------------------------Container--------------------------------------------------*/
.container {
  display: block;
}

#button-top {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 20px;
}

/*----------------------------------------Header----------------------------------------*/
header {
  display: grid;
  align-items: center;
  grid-template: auto / auto auto;
}
/*------------------------------Logo------------------------------*/
.logo {
  padding: 10px 70px;
}

/*----------------------------------------Card-Normal----------------------------------------*/
.card-normal {
  display: grid;
  padding-top: 200px;
  align-items: center;
  justify-content: left;
  grid-template: auto / auto auto;
}

/*------------------------------Title-Normal------------------------------*/
.title-normal {
  font-size: 50px;
  color: #f5cb5c;
  word-spacing: -7px;
  margin-left: 60px;
  margin-right: -70px;
  transform: rotate(270deg);
}

.title-normal .first {
  font-family: "Sevillana", cursive;
}

.title-normal .second {
  font-family: "Share Tech", sans-serif;
}

.title-normal .third {
  font-family: "Sonsie One", cursive;
}

.title-normal .fourth {
  font-family: "Podkova", serif;
}

.title-normal .fifth {
  font-family: "Anton", sans-serif;
}

.title-normal .sixth {
  font-family: "Andada", serif;
}

/*------------------------------Image-Normal------------------------------*/
.image-normal {
  width: 900px;
  height: 600px;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #333533aa;
  background-color: rgba(51, 53, 51, 0.9);
}

/*----------------------------------------Card-Blur----------------------------------------*/
.card-blur {
  display: grid;
  padding-top: 250px;
  justify-content: center;
  grid-template: auto auto / auto;
}

/*------------------------------Title-Blur------------------------------*/
.title-blur {
  font-size: 50px;
  color: #333533;
  text-align: right;
  word-spacing: -8px;
}

.title-blur .first {
  font-family: "Sevillana", cursive;
}

.title-blur .second {
  font-family: "Andada", serif;
}

.title-blur .third {
  font-family: "Sonsie One", cursive;
}

.title-blur .fourth {
  font-family: "Podkova", serif;
}

/*------------------------------Image-Blur------------------------------*/
.image-blur {
  width: 900px;
  height: 600px;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #333533aa;
  background-color: rgba(51, 53, 51, 0.9);
}

/*----------------------------------------Card-Gray----------------------------------------*/
.card-gray {
  display: grid;
  padding-top: 250px;
  align-items: center;
  justify-content: right;
  grid-template: auto / auto auto;
}

/*------------------------------Image-Gray------------------------------*/
.image-gray {
  width: 900px;
  height: 600px;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #333533aa;
  background-color: rgba(51, 53, 51, 0.9);
}

/*------------------------------Title-Gray------------------------------*/
.title-gray {
  font-size: 50px;
  color: #333533;
  word-spacing: -8px;
  margin-left: -100px;
  margin-right: 40px;
  transform: rotate(90deg);
}

.title-gray .first {
  font-family: "Nunito", sans-serif;
}

.title-gray .second {
  font-family: "Sonsie One", cursive;
}

.title-gray .third {
  font-size: 40px;
  font-family: "Anton", sans-serif;
}

.title-gray .fourth {
  font-family: "Aldrich", sans-serif;
}

.title-gray .fifth {
  font-family: "Aclonica", sans-serif;
}

.title-gray .sixth {
  font-family: "Concert One", cursive;
}

.title-gray .seventh {
  font-size: 40px;
  font-family: "Anton", sans-serif;
}

.title-gray .eighth {
  font-family: "Andada", serif;
}

.title-gray .ninth {
  font-family: "Marmelad", sans-serif;
}

/*----------------------------------------Footer----------------------------------------*/
footer {
  width: 600px;
  height: 60px;
  display: grid;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
  background-color: #333533;
  box-shadow: 5px 5px 10px #333533aa;
}

/*------------------------------Text-Footer------------------------------*/
.text-footer {
  color: #e8eddf;
  word-spacing: -3px;
}

/*------------------------------First-Part------------------------------*/
.first-part {
  margin: 0px 10px 0px 0px;
}

.first-part .first {
  font-size: 35px;
  font-family: "Sen", sans-serif;
}

.first-part .second {
  font-family: "Marmelad", sans-serif;
}

.first-part .third {
  font-family: "Aclonica", sans-serif;
}

.first-part .fourth {
  font-family: "Marmelad", sans-serif;
}

.first-part .fifth {
  font-size: 30px;
  font-family: "Sevillana", cursive;
}

.first-part .sixth {
  font-family: "Rye", cursive;
}

.first-part .seventh {
  font-family: "Share Tech", sans-serif;
}

.first-part .eighth {
  font-family: "Andada", serif;
}

.first-part .ninth {
  font-family: "Rye", cursive;
}

.first-part .tenth {
  font-family: "Pridi", serif;
}

.first-part .eleventh {
  font-family: "Sen", sans-serif;
}

.first-part .twelfth {
  font-family: "Share Tech", sans-serif;
}

/*------------------------------Second-Part------------------------------*/
.second-part {
  margin: 0px 10px 0px 10px;
}

.second-part .first {
  font-family: "Stalinist One", cursive;
}

.second-part .second {
  font-family: "Share Tech", sans-serif;
}

.second-part .third {
  font-family: "Sonsie One", cursive;
}

/*------------------------------Link------------------------------*/
a {
  color: #e8eddf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*------------------------------Third-Part------------------------------*/
.third-part {
  margin: 0px 10px 0px 10px;
}

.third-part .first {
  font-size: 40px;
  font-family: "Podkova", serif;
}

.third-part .second {
  font-size: 20px;
  font-family: "Anton", sans-serif;
}

.third-part .third {
  font-family: "Crete Round", serif;
}

.third-part .fourth {
  font-family: "Marmelad", sans-serif;
}

.third-part .fifth {
  font-family: "Wellfleet", cursive;
}

.third-part .sixth {
  font-family: "Aclonica", sans-serif;
}

/*------------------------------Fourth-Part------------------------------*/
.fourth-part {
  margin: 0px 0px 0px 5px;
}

.fourth-part .first {
  font-size: 40px;
  font-family: "Vampiro One", cursive;
}

.fourth-part .second {
  font-family: "Wellfleet", cursive;
}

.fourth-part .third {
  font-family: "Wellfleet", cursive;
}

.fourth-part .fourth {
  font-family: "Strait", sans-serif;
}

.fourth-part .fifth {
  font-family: "Marmelad", sans-serif;
}

.fourth-part .sixth {
  font-family: "Andada", serif;
}

.fourth-part .seventh {
  font-family: "Pridi", serif;
}

.fourth-part .eighth {
  font-family: "Sevillana", cursive;
}
