/*--------------------------------------------------Fonts--------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Aldrich&family=Andada&family=Anton&family=Concert+One&family=Crete+Round&family=Marmelad&family=Nunito:wght@300&family=Oregano&family=Podkova&family=Pridi:wght@300&family=Roboto:wght@300&family=Rye&family=Sen&family=Sevillana&family=Share+Tech&family=Sonsie+One&family=Stalinist+One&family=Strait&family=Vampiro+One&family=Wellfleet&family=Yeseva+One&display=swap");

/*--------------------------------------------------Import-Fonts--------------------------------------------------*/
/* 
font-family: 'Aclonica', sans-serif;
font-family: 'Aldrich', sans-serif;
font-family: 'Andada', serif;
font-family: 'Anton', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Crete Round', serif;
font-family: 'Marmelad', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oregano', cursive;
font-family: 'Podkova', serif;
font-family: 'Pridi', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rye', cursive;
font-family: 'Sen', sans-serif;
font-family: 'Sevillana', cursive;
font-family: 'Share Tech', sans-serif;
font-family: 'Sonsie One', cursive;
font-family: 'Stalinist One', cursive;
font-family: 'Strait', sans-serif;
font-family: 'Vampiro One', cursive;
font-family: 'Wellfleet', cursive;
font-family: 'Yeseva One', cursive; 
*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/background.png");
}

/*--------------------------------------------------Container--------------------------------------------------*/
.container {
  display: block;
}

.button-top {
  right: 20px;
  bottom: 10px;
  display: block;
  position: fixed;
}

/*----------------------------------------Header----------------------------------------*/
header {
  display: grid;
  padding-top: 50px;
  align-items: center;
  justify-content: space-around;
  grid-template: auto / auto auto;
}

/*------------------------------Width-Height------------------------------*/
.width-height {
  width: 900px;
  height: 600px;
}

/*----------------------------------------Card-Normal----------------------------------------*/
.card-normal {
  display: grid;
  padding-top: 200px;
  align-items: center;
  justify-content: left;
  grid-template: auto / auto auto;
}

/*------------------------------Title-Normal------------------------------*/
.title-normal {
  font-size: 50px;
  color: #f5cb5c;
  word-spacing: -7px;
  margin-left: 50px;
  margin-right: -70px;
  transform: rotate(270deg);
}

.title-normal .first {
  font-family: "Sevillana", cursive;
}

.title-normal .second {
  font-family: "Share Tech", sans-serif;
}

.title-normal .third {
  font-family: "Sonsie One", cursive;
}

.title-normal .fourth {
  font-family: "Podkova", serif;
}

.title-normal .fifth {
  font-family: "Anton", sans-serif;
}

.title-normal .sixth {
  font-family: "Andada", serif;
}

/*------------------------------Image-Normal------------------------------*/
.image-normal {
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #333533aa;
  background-color: rgba(51, 53, 51, 0.9);
}

/*----------------------------------------Card-Blur----------------------------------------*/
.card-blur {
  display: grid;
  padding-top: 200px;
  justify-content: center;
  grid-template: auto auto / auto;
}

/*------------------------------Title-Blur------------------------------*/
.title-blur {
  font-size: 50px;
  color: #333533;
  text-align: right;
  word-spacing: -8px;
}

.title-blur .first {
  font-family: "Sevillana", cursive;
}

.title-blur .second {
  font-family: "Andada", serif;
}

.title-blur .third {
  font-family: "Sonsie One", cursive;
}

.title-blur .fourth {
  font-family: "Podkova", serif;
}

/*------------------------------Image-Blur------------------------------*/
.image-blur {
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #333533aa;
  background-color: rgba(51, 53, 51, 0.9);
}

/*----------------------------------------Card-Gray----------------------------------------*/
.card-gray {
  display: grid;
  padding-top: 200px;
  align-items: center;
  justify-content: right;
  grid-template: auto / auto auto;
}

/*------------------------------Image-Gray------------------------------*/
.image-gray {
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #333533aa;
  background-color: rgba(51, 53, 51, 0.9);
}

/*------------------------------Title-Gray------------------------------*/
.title-gray {
  font-size: 50px;
  color: #333533;
  word-spacing: -8px;
  margin-left: -100px;
  margin-right: 25px;
  transform: rotate(90deg);
}

.title-gray .first {
  font-family: "Nunito", sans-serif;
}

.title-gray .second {
  font-family: "Sonsie One", cursive;
}

.title-gray .third {
  font-size: 40px;
  font-family: "Anton", sans-serif;
}

.title-gray .fourth {
  font-family: "Aldrich", sans-serif;
}

.title-gray .fifth {
  font-family: "Aclonica", sans-serif;
}

.title-gray .sixth {
  font-family: "Concert One", cursive;
}

.title-gray .seventh {
  font-size: 40px;
  font-family: "Anton", sans-serif;
}

.title-gray .eighth {
  font-family: "Andada", serif;
}

.title-gray .ninth {
  font-family: "Marmelad", sans-serif;
}

/*----------------------------------------Footer----------------------------------------*/
footer {
  width: 1000px;
  height: 60px;
  display: grid;
  padding: 10px;
  text-align: center;
  margin: 200px auto;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #333533aa;
  background-color: rgba(51, 53, 51, 0.9);
}

/*------------------------------Link------------------------------*/
a {
  color: #e8eddf;
  text-decoration: none;
}

a:hover {
  color: #f5cb5c;
}

/*------------------------------Text-Footer------------------------------*/
.text-footer {
  color: #e8eddf;
  word-spacing: -3px;
}

/*------------------------------First-Part------------------------------*/
/*------------------------------DEVELOPED------------------------------*/
.first-part {
  margin: 0px 5px 0px 0px;
}

.first-part .first {
  font-size: 35px;
  font-family: "Sen", sans-serif;
}

.first-part .second {
  font-family: "Marmelad", sans-serif;
}

.first-part .third {
  font-family: "Aclonica", sans-serif;
}

.first-part .fourth {
  font-family: "Marmelad", sans-serif;
}

.first-part .fifth {
  font-size: 30px;
  font-family: "Sevillana", cursive;
}

.first-part .sixth {
  font-family: "Rye", cursive;
}

.first-part .seventh {
  font-family: "Share Tech", sans-serif;
}

.first-part .eighth {
  font-family: "Andada", serif;
}

.first-part .ninth {
  font-family: "Rye", cursive;
}

/*------------------------------Second-Part------------------------------*/
/*------------------------------BY------------------------------*/
.second-part {
  margin: 0px 5px 0px 5px;
}

.second-part .first {
  font-family: "Stalinist One", cursive;
}

.second-part .second {
  font-family: "Share Tech", sans-serif;
}

/*------------------------------Third-Part------------------------------*/
/*------------------------------MATEUS------------------------------*/
.third-part {
  margin: 0px 5px 0px 5px;
}

.third-part .first {
  font-size: 40px;
  font-family: "Podkova", serif;
}

.third-part .second {
  font-size: 20px;
  font-family: "Anton", sans-serif;
}

.third-part .third {
  font-family: "Crete Round", serif;
}

.third-part .fourth {
  font-family: "Marmelad", sans-serif;
}

.third-part .fifth {
  font-family: "Wellfleet", cursive;
}

.third-part .sixth {
  font-family: "Aclonica", sans-serif;
}

/*------------------------------Fourth-Part------------------------------*/
/*------------------------------ZUCHELI------------------------------*/
.fourth-part {
  margin: 0px 5px 0px 5px;
}

.fourth-part .first {
  font-size: 40px;
  font-family: "Vampiro One", cursive;
}

.fourth-part .second {
  font-family: "Wellfleet", cursive;
}

.fourth-part .third {
  font-family: "Wellfleet", cursive;
}

.fourth-part .fourth {
  font-family: "Strait", sans-serif;
}

.fourth-part .fifth {
  font-family: "Marmelad", sans-serif;
}

.fourth-part .sixth {
  font-family: "Andada", serif;
}

.fourth-part .seventh {
  font-family: "Pridi", serif;
}

/*------------------------------Fifth-Part------------------------------*/
/*------------------------------USING------------------------------*/
.fifth-part {
  margin: 0px 5px 0px 5px;
}

.fifth-part .first {
  font-family: "Wellfleet", cursive;
}

.fifth-part .second {
  font-family: "Aclonica", sans-serif;
}

.fifth-part .third {
  font-family: "Pridi", serif;
}

.fifth-part .fourth {
  font-size: 30px;
  font-family: "Sevillana", cursive;
}

.fifth-part .fifth {
  font-family: "Nunito", sans-serif;
}

/*------------------------------Sixth-Part------------------------------*/
/*------------------------------THE------------------------------*/
.sixth-part {
  margin: 0px 5px 0px 5px;
}

.sixth-part .first {
  font-family: "Crete Round", serif;
}

.sixth-part .second {
  font-family: "Strait", sans-serif;
}

.sixth-part .third {
  font-family: "Marmelad", sans-serif;
}

/*------------------------------Seventh-Part------------------------------*/
/*------------------------------LOREM------------------------------*/
.seventh-part {
  margin: 0px 5px 0px 5px;
}

.seventh-part .first {
  font-size: 40px;
  font-family: "Andada", serif;
}

.seventh-part .second {
  font-family: "Rye", cursive;
}

.seventh-part .third {
  font-family: "Sonsie One", cursive;
}

.seventh-part .fourth {
  font-family: "Marmelad", sans-serif;
}

.seventh-part .fifth {
  font-size: 30px;
  font-family: "Podkova", serif;
}

/*------------------------------Eighth-Part------------------------------*/
/*------------------------------PICSUM------------------------------*/
.eighth-part {
  margin: 0px 5px 0px 5px;
}

.eighth-part .first {
  font-size: 40px;
  font-family: "Share Tech", sans-serif;
}

.eighth-part .second {
  font-family: "Pridi", serif;
}

.eighth-part .third {
  font-size: 30px;
  font-family: "Concert One", cursive;
}

.eighth-part .fourth {
  font-family: "Aclonica", sans-serif;
}

.eighth-part .fifth {
  font-family: "Wellfleet", cursive;
}

.eighth-part .sixth {
  font-size: 30px;
  font-family: "Podkova", serif;
}

/*------------------------------Ninth-Part------------------------------*/
/*------------------------------API!------------------------------*/
.ninth-part {
  margin: 0px 0px 0px 5px;
}

.ninth-part .first {
  font-size: 25px;
  font-family: "Anton", sans-serif;
}

.ninth-part .second {
  font-size: 30px;
  font-family: "Share Tech", sans-serif;
}

.ninth-part .third {
  font-size: 30px;
  font-family: "Pridi", serif;
}

.ninth-part .fourth {
  font-size: 35px;
}

/*---------------------------------------------Responsiveness---------------------------------------------*/
@media screen and (min-width: 2500px) {
  /*------------------------------Width-Height------------------------------*/
  .width-height {
    width: 2000px;
    height: 1333px;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2500px) {
  /*------------------------------Width-Height------------------------------*/
  .width-height {
    width: 1500px;
    height: 1000px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  /*------------------------------Width-Height------------------------------*/
  .width-height {
    width: 1200px;
    height: 800px;
  }
}

@media screen and (max-width: 1200px) {
  /*------------------------------Width-Height------------------------------*/
  .width-height {
    width: 700px;
    height: 466px;
  }

  /*----------------------------------------Footer----------------------------------------*/
  footer {
    width: 850px;
    height: 100px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/background2.png");
  }

  /*------------------------------Width-Height------------------------------*/
  .width-height {
    width: 500px;
    height: 333px;
  }

  /*----------------------------------------Card-Normal----------------------------------------*/
  .card-normal {
    padding-top: 260px;
  }

  /*----------------------------------------Footer----------------------------------------*/
  footer {
    width: 620px;
    height: 100px;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/background3.png");
  }

  /*----------------------------------------Header----------------------------------------*/
  header {
    justify-items: center;
    justify-content: center;
    grid-template: auto auto / auto;
  }

  /*------------------------------Logo------------------------------*/
  .logo {
    margin-bottom: 50px;
  }

  /*------------------------------Width-Height------------------------------*/
  .width-height {
    width: 400px;
    height: 266px;
  }

  /*----------------------------------------Card-Normal----------------------------------------*/
  .card-normal {
    padding-top: 150px;
    justify-content: center;
    grid-template: auto auto / auto;
  }

  /*------------------------------Title-Normal------------------------------*/
  .title-normal {
    margin: auto;
    color: #333533;
    text-align: center;
    transform: rotate(0deg);
  }

  /*------------------------------Title-Blur------------------------------*/
  .title-blur {
    text-align: center;
  }

  /*----------------------------------------Card-Gray----------------------------------------*/
  .card-gray {
    justify-content: center;
    grid-template: auto auto / auto;
  }

  /*------------------------------Title-Gray------------------------------*/
  .title-gray {
    margin: auto;
    transform: rotate(0deg);
  }

  /*----------------------------------------Footer----------------------------------------*/
  footer {
    width: 330px;
    height: 70px;
    margin: 150px auto;
  }

  /*------------------------------Text-Footer------------------------------*/
  .text-footer {
    word-spacing: -1px;
  }

  /*------------------------------Parts------------------------------*/
  .first-part {
    font-size: 15px;
  }
  .first-part .first {
    font-size: 25px;
  }
  .first-part .fifth {
    font-size: 20px;
  }

  .second-part {
    font-size: 15px;
  }

  .third-part {
    font-size: 15px;
  }
  .third-part .first {
    font-size: 25px;
  }
  .third-part .second {
    font-size: 15px;
  }

  .fourth-part {
    font-size: 15px;
  }
  .fourth-part .first {
    font-size: 25px;
  }

  .fifth-part {
    font-size: 15px;
  }
  .fifth-part .fourth {
    font-size: 20px;
  }

  .sixth-part {
    font-size: 15px;
  }

  .seventh-part {
    font-size: 15px;
  }
  .seventh-part .first {
    font-size: 25px;
  }
  .seventh-part .fifth {
    font-size: 20px;
  }

  .eighth-part {
    font-size: 15px;
  }
  .eighth-part .first {
    font-size: 25px;
  }
  .eighth-part .third {
    font-size: 20px;
  }
  .eighth-part .sixth {
    font-size: 20px;
  }

  .ninth-part {
    font-size: 15px;
  }
  .ninth-part .first {
    font-size: 20px;
  }
  .ninth-part .second {
    font-size: 25px;
  }
  .ninth-part .third {
    font-size: 25px;
  }
  .ninth-part .fourth {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  /*------------------------------Logo------------------------------*/
  .logo {
    width: 400px;
  }

  /*------------------------------Width-Height------------------------------*/
  .width-height {
    width: 300px;
    height: 200px;
  }

  /*----------------------------------------Card-Normal----------------------------------------*/
  .card-normal {
    padding-top: 70px;
  }
}

@media screen and (max-width: 450px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/background4.png");
  }

  /*------------------------------Logo------------------------------*/
  .logo {
    width: 250px;
  }

  /*------------------------------Width-Height------------------------------*/
  .width-height {
    width: 250px;
    height: 166px;
  }

  /*------------------------------Title-Normal------------------------------*/
  .title-normal {
    font-size: 40px;
  }

  /*------------------------------Title-Blur------------------------------*/
  .title-blur {
    font-size: 40px;
    word-spacing: -6px;
  }

  /*------------------------------Title-Gray------------------------------*/
  .title-gray {
    font-size: 40px;
    word-spacing: -6px;
  }
  .title-gray .third {
    font-size: 30px;
  }
  .title-gray .seventh {
    font-size: 30px;
  }

  /*----------------------------------------Footer----------------------------------------*/
  footer {
    width: 175px;
    height: 150px;
  }

  /*------------------------------Fifth-Part------------------------------*/
  /*------------------------------USING------------------------------*/
  .fifth-part {
    margin: 0px 5px 0px 35px;
  }

  /*------------------------------Sixth-Part------------------------------*/
  /*------------------------------THE------------------------------*/
  .sixth-part {
    margin: 0px 35px 0px 5px;
  }
}
